[Desktop Entry]
Type=Application
Name=Configure-RSU
Comment=UI for RSU Configuration
Exec=python3 %f configure_rsu.py
Icon=rsu.png
Terminal=true
Categories=Utility;Network;